.trafficLights {
  border-radius: 10px;
  background-color: black;
  width: 250px;
  height: 700px;
  float:left;
  margin-left: 150px;
}

.lightBulbs {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #3d3d3d;
  margin: 25px;
  transition: background-color .5s ease-out
}

.allButtons {
  max-width: 120px;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

.allButtons p {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #1d1d2d;
  padding: 25px;
  color:white;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  margin-left: 25px;
  height: 100px;
  line-height: 100px;
  width: 100px;
  border-radius: 12px;
  text-align:center;
  font-size: 1em;
}

.allButtons p:hover {
  transition: font-size 0.3s ease 0s;
  font-size: 115%;
   cursor:pointer;
}

.allButtons p:active {
  transition: font-size,opacity, 1s ease 0s;
  font-size: 130%;
  opacity: 0.1;
}