nav {
	font-family: "Helvetica";
	font-size: 1.5em;
	color: #1d1d2d;
}

.imageViewer{
	width: 900px;
	height: 450px;
	background-color:grey;
	margin-top: 20px;
	margin-bottom: 20px;
}

.thumbNails {
	width: 100px;
	height: 100px;
	border: 2px solid grey;
	background-color: grey;
	display: inline-block;
}