.thumbNails {
	width: 150px;
	height: 150px;
	background-color: grey;
	display: inline-block;
	position:relative;
	overflow:hidden;
}


.thumbnails img {
	width:100%;
}

.imageViewer{
	width: auto;
	height: 100%;
	background-color:grey;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:0px;
}

#nav {
	font-family: "Gill-Sans", Helvetica, sans-serif;
	font-size: 1.5em;
	color: #1d1d2d;
	float:right;
	position:fixed;
}