body {
	font-family: sans-serif;
	color: green;
    background-color: transparent;
  	background-image:url("http://www.centerforworklife.com/cfwl-content/uploads/2013/08/hulk1.jpg");
  	background-position:center;
  	background-repeat:no-repeat;
  	background-size:75%;
}

button {
	margin: 50px;
	height: 150px;
	width: 150px;
	line-height:75px;
	border-radius:25%;
	font-family:Helvetica;
	font-size: 1.5em;
	background-color: white;}


#playerRock #playerPaper #playerScissors{
	transition: background-color 1s ease-in-out 0s;
}

#playerRock:active {
	background-color: grey;
	cursor:pointer;
}

#playerPaper:active {
	background-color: grey;
	cursor:pointer;
}

#playerScissors:active {
	background-color: grey;
	cursor:pointer;
}

}
h3  {
	font-size: 1.5em;
}
p {
	font-size:2em;
	display:inline;
	color:green;
}
.playerChoice{
	display:inline-block;
	width: 150px;
	float:left;
}
.hulkChoice{
	display:inline-block;
	width:200px;
	margin-left: 125px;
	float:right;
	margin-right: 60px;
	padding-bottom:25px;
}



