body {
	font-family: Gill Sans, Helvetica, sans-serif;
	max-width: 1200px;
}

#headerNav{
	position:absolute;
	opacity: 0.5;
	transition: opacity, 0s ease 0s;
	margin-top: 30px;
	margin-left: 20px;
}

#headerNav:hover {
	opacity: 1.3;
}

nav a {
	color: #FFFFFF;
	background-color:transparent;
	font-size: 1.5em;
}

h1 {
	font-weight:normal;
	margin-top: -5px;
	font-size: 2em;
}

h2 {
	font-style:italic;
	color: #4d4d4d;
	font-weight:normal;
	margin-top: -15px;
	margin-bottom: 5px;
}


#apiResultImage img {
	
}

#apiOptionsSlideshow .thumbNails {
	display:none;
}
